<launch>
        <arg name="path" value="$(find flex_nav_flexbe_states)/tests" />

        <include file="$(find flexbe_testing)/launch/flexbe_testing.launch">
                <arg name="compact_format" value="true" />
                <arg name="testcases" value="
                        $(arg path)/get_path_state.test
                        $(arg path)/log_path_state.test
                        $(arg path)/pure_pursuit_state.test
                        $(arg path)/timed_twist_state.test
                        $(arg path)/timed_stop_state.test
                        $(arg path)/clear_costmaps_state.test
                        $(arg path)/follow_path_state.test
                        $(arg path)/follow_topic_state.test
                        $(arg path)/follow_planner_state.test
                        $(arg path)/move_distance_state.test
                        $(arg path)/rotate_angle_state.test
                " />
                <!--$(arg path)/get_pose_state.test-->
        </include>
</launch>
